@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Tajawal:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

.tajawal-bold {
  font-family: "Tajawal", sans-serif;
  font-weight: 700;

}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;

}

#light{
  background-color: white;
  color: #1B1C1E !important;
}
#dark{
  background-color:  #1B1C1E;
  color: white !important;
}
#dark svg {
 stroke: aqua;
}
.size-20{
  font-size: 20px;
}
.size-18{
  font-size: 18px;
}
.size-64{
  font-size: 64px;
}
.size-14{
  font-size: 14px;
}

#btn-certificate-light{
  background-color: #1B1C1E;
  color: white;
  border: none;
}
#btn-certificate-dark{
  background-color: white;
  color: #1B1C1E;
  border: none;
}
.btn-learn-more{
  border: solid 1px;
}
.btn-style{
  outline: none;
  width :256px;
  height: 51px; 
  border-radius: 8px;
  padding: 10px;
}